@model ITS.Domain.Concrete.EFIssueRepository
@using Microsoft.AspNet.Identity
@using ITS.Models

<h2>Issues page</h2>

@if (Request.IsAuthenticated)
{
    <div>
        @{
    var issue = new ITS.Domain.Entities.Issue();
    issue.UserEmail = User.Identity.GetUserName();
    Html.RenderPartial("~/Views/Shared/_IssuePartial.cshtml", issue);
    }
    <div class="sidecontent">
        <a class="modalorder" href="#">
            Create issue
        </a>
    </div>
    </div>

    <table>
        @{
    var viewModel = new ITS.Models.IssuesViewModel();
    var statuses = viewModel.Statuses();
    foreach (var s in statuses)
    {
        <tr>
            <th><h3>@s</h3></th>
        </tr>
    <tr>
        <td>
            <table border="1">
                <col width="200px" />
                <col width="150px" />
                <col width="200px" />
                <tr>
                    <th>Title</th>
                    <th>Created On</th>
                    <th>Created By</th>
                </tr>
                @foreach (var x in Model.Issues)
                {
                    if(s == x.Status)
                    { 
                    <tr>
                        <td>@Html.ActionLink(x.Title, "Issue", "SingleIssue", new { issueId = x.Id }, null)</td>
                        <td>@x.CreatedOn</td>
                        <td>@x.UserEmail</td>
                    </tr>
                    }
                }

            </table>
        </td>
    </tr>

    }
}
</table>
}
else
{
<h1>You don't have permissions to view this page</h1>
}

@section Scripts
{
    <script type="text/javascript">
        $(function () {
            console.log("HELLO");
            var dial;
            dial = $(".order_bg").dialog({
                height: 400,
                width: 350,
                modal: true,
                autoOpen: false,
                buttons: {
                    "Create": function () {
                        console.log("Submitting");
                        document.getElementById("sForm").submit();
                    },
                    "Cancel": function () {
                        console.log("close");
                        dial.dialog("close");
                    }
                }
            });

            $(".modalorder").button().on("click", function () {
                dial.dialog("open");
                console.log("Sdfgfg");
            });
        });
    </script>
}