@model IEnumerable<ITS.Domain.Entities.Issue>
@using Microsoft.AspNet.Identity
@using ITS.Models

<style>
    .error {
    color:#FF0000;
}
</style>

<h2>Issues page</h2>

@if (Request.IsAuthenticated)
{
    <div>
        @{
    Html.RenderAction("IssuePartial", "SingleIssue", new { userEmail = User.Identity.GetUserName() });
    }
    <div class="sidecontent">
        <a class="modalorder" href="#">
            Create issue
        </a>
    </div>
    </div>

    <table>
        @{

    foreach (var s in ITS.Models.IssuesViewModel.Statuses())
    {
        <tr>
            <th><h3>@s</h3></th>
        </tr>
    <tr>
        <td>
            <table class="table table-hover">
                <col width="300px" />
                <col width="350px" />
                <col width="300px" />
                <tr>
                    <th>Title</th>
                    <th>Created On</th>
                    <th>Created By</th>
                </tr>
                @foreach (var x in Model)
                {
                    if(s == x.Status)
                    {
                    <tr>
                        <td>@Html.ActionLink(x.Title, "Issue", "SingleIssue", new { issueId = x.Id }, null)</td>
                        <td>@x.CreatedOn</td>
                        <td>@x.UserEmail</td>
                    </tr>
                    }
                }

            </table>
        </td>
    </tr>

    }
}
</table>
}
else
{
<h1>You don't have permissions to view this page</h1>
}

@section Scripts
{
    <script type="text/javascript">
        $(function () {

            $("#sForm").validate();

            var dial;
            dial = $(".order_bg").dialog({
                height: 400,
                width: 350,
                modal: true,
                autoOpen: false,
                buttons: {
                    "Create": function () {
                        console.log("Submitting");
                        //document.getElementById("sForm").submit();
                        document.getElementById('issue-submit').click();

                    },
                    "Cancel": function () {
                        console.log("close");
                        dial.dialog("close");
                    }
                }
            });

            $(".modalorder").button().on("click", function () {
                dial.dialog("open");
                console.log("Sdfgfg");
            });

        });
    </script>
}