@model ITS.Domain.Entities.Issue


@{
    ViewBag.Title = "Issue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    label, input { display:block; }
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
</style>


    <h2>@Model.Title</h2>

    <h3>@Model.Description</h3>

@{
    Html.RenderPartial("~/Views/Shared/_IssuePartial.cshtml", Model);
}
<div class="sidecontent">
    <a class="modalorder" href="#">
        Edit details        
    </a>

</div>
@section Scripts
{
<script type="text/javascript">
    $(function () {
        console.log("HELLO");
        var dial;
        dial = $(".order_bg").dialog({
            height: 400,
            width: 350,
            modal: true,
            autoOpen: false,
            buttons: {
                "Apply": function () {
                    console.log("Submitting");
                    document.getElementById("sForm").submit();
                },
                "Cancel": function() {
                    dial.dialog("close");
                }
            }                        
        });

        $(".modalorder").button().on("click", function () {
            dial.dialog("open");
            console.log("Sdfgfg");
        });
    });
</script>
}